<div  class="w-full relative bg-link-color overflow-hidden flex flex-row items-start justify-between pt-[23px] pb-[4.8px] pr-[93.6px] pl-24 box-border leading-[normal] tracking-[normal] gap-[20px] text-center text-[14px] text-black-color font-raleway mq450:pl-5 mq450:pr-5 mq450:box-border mq950:pl-12 mq950:pr-[47px] mq950:box-border mq975:flex-wrap">
    <div class="h-[146px] w-[1440px] relative bg-link-color hidden max-w-full" ></div>
    <div class="w-[559px] flex flex-row items-start justify-start gap-[31.2px] max-w-full mq700:flex-wrap mq700:gap-[16px]">
      <div class="w-[60.9px] flex flex-col items-start justify-start pt-[27.1px] px-0 pb-0 box-border">
        <div class="self-stretch h-[55.9px] rounded-lg bg-lavender overflow-hidden shrink-0 flex flex-row items-end justify-start z-[1]">
          <div class="ml-[-7.5px] mb-[-11px] w-[76px] bg-white-color flex flex-row items-start justify-start shrink-0 [debug_commit:1de1738]">
            <div class="h-[78px] flex-1 relative overflow-hidden">
              
                <img
                    class="h-[78px] w-[78px] relative overflow-hidden shrink-0"
                    loading="lazy"
                    alt=""
                    src="assets/images/personfilled.svg"
                />

            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col items-start justify-start gap-[28px] min-w-[304px] max-w-full">
        <div class="self-stretch flex flex-row items-start justify-center py-0 pr-[22px] pl-5">
          <b class="w-[287.3px] relative inline-block shrink-0 z-[1]">
            RAZÓN SOCIAL - RUC 098837733
          </b>
        </div>
        <div class="self-stretch flex flex-row items-start justify-start relative max-w-full text-justify text-xs">
          <b class="h-[74.2px] flex-1 relative inline-block max-w-full z-[1]">Lorem ipsum dolor sit amet consectetur. Venenatis feugiat dignissim nullam ac Commodo et parturient at sed eget hendrerit faucibus. Arcu vitae suspendisse lobortis </b>
          <div class="w-full !m-[0] absolute top-[-28px] left-[-24.2px] flex flex-row items-start justify-start pt-0 px-[24.1px] pb-[55px] box-border h-full z-[2] text-center text-[20px]">
            <h2 class="m-0 relative text-inherit font-bold font-inherit inline-block min-w-[95px] z-[1] mq450:text-[16px]">
              MI PERFIL
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[191.4px] flex flex-col items-start justify-start pt-[25px] px-0 pb-0 box-border">
        <div class="self-stretch h-[50.9px] relative text-justify text-xs text-black-color font-mulish">
            <div class="absolute top-[0px] left-[0px] rounded-lg bg-white-color overflow-hidden flex flex-row items-start justify-start py-[4.2px] px-[3.9px] z-[1]">
              <div class="flex flex-row items-center justify-center">
                <img
                  class="h-[34px] w-[34px] relative overflow-hidden shrink-0"
                  loading="lazy"
                  alt=""
                  src="assets/images/personfilled.svg"
                />
              </div>
            </div>
            <div class="absolute top-[0px] left-[41.8px] leading-[150%] font-light inline-block w-[149.6px] h-[50.9px] z-[1]">
              <p class="m-0">Sesión iniciada como</p>
              <p class="m-0">Proveedor 2</p>
            </div>
            <img
              class="absolute top-[5px] left-[161px] w-[30px] h-[27.7px] overflow-hidden z-[1]"
              loading="lazy"
              alt=""
              src="assets/images/settingssharp.svg"
            />
          </div>
    </div>
  </div>


