<div style="font-family: Roboto, sans-serif;"  class="w-[1440px] bg-gray-light-color shadow-[0px_4px_4px_rgba(0,_0,_0,_0.05)] max-w-full overflow-hidden flex flex-row items-start justify-start py-[15px] px-[27px] box-border leading-[normal] tracking-[normal]">
    <form class="m-0 flex-1 rounded-xl bg-white-color flex flex-col items-start justify-start pt-11 px-[47px] pb-[55px] box-border gap-[30px] min-h-[330px] max-w-full lg:pl-[23px] lg:pr-[23px] lg:box-border mq750:gap-[15px]">
      <div class="w-[1379px] h-[330px] relative rounded-xl bg-white-color hidden max-w-full" ></div>
      <div class="w-[653.5px] flex flex-col items-start justify-start gap-[23px] max-w-full shrink-0">
        <div class="w-[404.1px] flex flex-row items-start justify-start py-0 pr-[11px] pl-[10.6px] box-border max-w-full">
          <div class="flex-1 relative text-base font-semibold font-h3 text-black-color text-center inline-block max-w-full z-[1]">
            ECOSISTEMA DIGITAL DE NEGOCIOS: PROVEEDORES
          </div>
        </div>
        <div class="self-stretch flex flex-row items-start justify-start py-0 px-0 box-border max-w-full z-[1] mq450:gap-[82px] mq750:gap-[165px]">
          <div class="w-[681px] flex flex-row flex-wrap items-start justify-center max-w-[104%] shrink-0 [row-gap:20px]">
            <div class="rounded-tl-3xs rounded-tr-none rounded-br-none rounded-bl-3xs bg-primary flex flex-row items-center justify-center py-[15px] px-[56.5px] whitespace-nowrap mq450:pl-5 mq450:pr-5 mq450:box-border">
              <div class="relative text-xs font-semibold font-work-sans text-white-color text-center">
                Favoritos de la empresa
              </div>
            </div>
            <div class="flex-1 rounded-tl-none rounded-tr-lg rounded-br-lg rounded-bl-none bg-white-color box-border flex flex-row items-center justify-start py-[13px] px-[15px] gap-[10px] min-w-[277px] whitespace-nowrap max-w-full border-[1px] border-solid border-grey-dark">
              <div class="flex-1 relative text-xs font-medium font-inter text-grey-darker text-left inline-block max-w-full">
                Todo el ecosistema digital de Negocios eBIZ
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[1136px] flex flex-col items-start justify-start gap-[31px] max-w-full shrink-0 mq750:gap-[15px]">
        <div class="w-[402px] flex flex-row items-start justify-between max-w-full gap-[20px] mq450:flex-wrap">
          <b class="relative text-lg font-h3 text-black-color text-left z-[1]">
            Rubro ( categorías CUBSO )
          </b>
          <b class="relative text-lg inline-block font-h3 text-black-color text-left min-w-[35px] z-[1]">
            País
          </b>
        </div>
        <div class="self-stretch flex flex-row flex-wrap items-end justify-start gap-[20px] max-w-full">
          <div class="w-[313px] rounded-lg bg-white-color box-border flex flex-row items-start justify-start py-[13px] px-[15px] gap-[10px] whitespace-nowrap z-[1] border-[1px] border-solid border-grey-dark">
            <div class="flex-1 relative text-xs font-medium font-inter text-grey-darker text-left">
              Subcategoria 2
            </div>
          </div>
          <div class="w-[203px] rounded-lg bg-white-color box-border flex flex-row items-start justify-start py-[13px] px-[15px] gap-[10px] z-[1] border-[1px] border-solid border-grey-dark">
            <div class="flex-1 relative text-xs font-medium font-inter text-grey-darker text-left">
              Todos
            </div>
          </div>
          <div class="flex-1 rounded-lg bg-white-color box-border flex flex-row items-start justify-start py-[13px] px-[15px] gap-[10px] min-w-[234px] whitespace-nowrap max-w-full z-[1] border-[1px] border-solid border-grey-dark">
            <div class="flex-1 relative text-xs font-medium font-inter text-grey-darker whitespace-pre-wrap text-left inline-block max-w-full">
              Palabra clave
            </div>
          </div>
          <div class="rounded-[5px] bg-primary shadow-[0px_4px_9.7px_rgba(0,_0,_0,_0.25)] flex flex-row items-start justify-start py-[6.4px] px-[17px] z-[1]">
            <div class="relative text-sm font-semibold font-work-sans text-white-color text-center inline-block min-w-[48px]">
              Buscar
            </div>
          </div>
          <div class="rounded-[10px] bg-crimson shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] flex flex-row items-start justify-start py-[6.4px] px-4 z-[2] text-[15px]">
              <div class=" text-white-color relative font-semibold inline-block min-w-[66px]">
                Resetear
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>

